# *Bankers in the Ivory Tower*

### By Charlie Eaton

### Collapse original person level data to board level for Figure 2.2: Mean percentage of board members from finance

In [1]:
use data/top_30_boards_person_level_1987_2017, clear

In [2]:
describe

Contains data from data/top_30_boards_person_level_1987_2017.dta
 Observations:        26,687
    Variables:            14                  14 Feb 2022 12:52
--------------------------------------------------------------------------------
Variable      Storage   Display    Value
    name         type    format    label      Variable label
--------------------------------------------------------------------------------
unitid          double  %9.0g                 IPEDS school unique identifier
firstname       str19   %19s                  last name of board member
lastname        str61   %61s                  lastname
year            double  %9.0g                 year of board membership
schoolname      str43   %43s                  school of board membership
suffix          str3    %9s                   suffix of board member
gender          str7    %9s                   gender of board member
financetype     str22   %-9s                  detailed type of finance
                                                affiliation
middlename      str15   %15s                  middle name or initial board
                                                member
alumni          double  %10.0g                board member is alumnus of board's
                                                school
econ_type       str26   %-9s                  type of primary economic
                                                affiliation
econ_affiliat~n str315  %-9s                  primary economic affiliation of
                                                board member
top30private    float   %9.0g                 school of board membership is top
                                                30 private indicator
top30public     float   %9.0g                 school of board membership is top
                                                30 public indicator
--------------------------------------------------------------------------------
Sorted by:

In [3]:
tab financetype
tab econ_type

      detailed type of |
   finance affiliation |      Freq.     Percent        Cum.
-----------------------+-----------------------------------
      asset management |        911        3.41        3.41
    commercial banking |        674        2.53        5.94
    financial planning |        117        0.44        6.38
           hedge funds |        514        1.93        8.30
             insurance |        123        0.46        8.76
    investment banking |      1,413        5.29       14.06
         non-financial |     19,546       73.24       87.30
                 other |         19        0.07       87.37
         other finance |        588        2.20       89.58
        private equity |      1,637        6.13       95.71
           real estate |        212        0.79       96.50
       venture capital |        933        3.50      100.00
-----------------------+-----------------------------------
                 Total |     26,687      100.00


  type of primary economic |
               affiliation |      Freq.     Percent        Cum.
---------------------------+-----------------------------------
       Alternative finance |      2,968       11.50       11.50
                Arts/media |        521        2.02       13.52
Education science medicine |      3,479       13.48       27.01
    Non-financial business |     11,044       42.80       69.81
  Non-profits/philanthropy |      1,494        5.79       75.60
             Other finance |      3,846       14.91       90.51
             Public sector |      1,363        5.28       95.79
               Real estate |      1,086        4.21      100.00
---------------------------+-----------------------------------
                     Total |     25,801      100.00

In [4]:
qui gen pehedge=financetype=="private equity" | financetype=="venture capital" | financetype=="hedge funds"

In [5]:
qui gen otherfinance=financetype!="non-financial" & financetype!="" & pehedge!=1

In [6]:
collapse (first) top30private top30public schoolname (mean) pehedge otherfinance, by(unitid year)

In [7]:
label var pehedge "private equity / hedge fund managers"
label var otherfinance "other financiers"
label var schoolname "school of board"
label var top30public "school of board is top 30 public"
label var top30private "school of board is top 30 private"
describe

Contains data
 Observations:           894
    Variables:             7
--------------------------------------------------------------------------------
Variable      Storage   Display    Value
    name         type    format    label      Variable label
--------------------------------------------------------------------------------
unitid          double  %9.0g                 IPEDS school unique identifier
year            double  %9.0g                 year of board membership
top30private    float   %9.0g                 school of board is top 30 private
top30public     float   %9.0g                 school of board is top 30 public
schoolname      str43   %43s                  school of board
pehedge         float   %9.0g                 private equity / hedge fund
                                                managers
otherfinance    float   %9.0g                 other financiers
--------------------------------------------------------------------------------
Sorted by: unitid  year
     Note: Dataset has changed since last saved.

In [8]:
save data/boardlevel_finance_share_20220214, replace

outsheet using data/boardlevel_finance_share_20220214.csv, comma replace

file data/boardlevel_finance_share_20220214.dta saved