# *Bankers in the Ivory Tower*

### By Charlie Eaton

### Create person level board data for Figure 2.2: Mean percentage of board members from finance

In [2]:
use firstname lastname middlename suffix schoolname financetype organization unitid alumni gender year using ///
"/Users/Charlie/Dropbox/Bankers in the Ivory Tower Book/2 Our New Financial Oligarchy/Data/Boards 2000 to 2017/board_members_all_long20220111.dta", clear
keep if year==1989
save "/Users/Charlie/Dropbox/Bankers in the Ivory Tower Book/2 Our New Financial Oligarchy/Data/Boards 2000 to 2017/board_long_1989_20220214", replace

(32,901 observations deleted)

file /Users/Charlie/Dropbox/Bankers in the Ivory Tower Book/2 Our New
    Financial Oligarchy/Data/Boards 2000 to 2017/board_long_1989_20220214.dta
    saved

In [3]:
use firstname lastname middlename suffix schoolname firmname_new employer_type_aggregated financetype organization unitid year alumni gender using ///
"/Users/Charlie/Dropbox/Bankers in the Ivory Tower Book/2 Our New Financial Oligarchy/Data/Boards 2000 to 2017/AJS revisions Albina/Network analysis/board_members_all_long20220123", clear

In [4]:
append using "/Users/Charlie/Dropbox/Bankers in the Ivory Tower Book/2 Our New Financial Oligarchy/Data/Boards 2000 to 2017/board_long_1989_20220214"

(variable firstname was str16, now str19 to accommodate using data's values)
(variable gender was str1, now str7 to accommodate using data's values)
(variable middlename was str13, now str15 to accommodate using data's values)

In [5]:
replace organization=firmname_new if firmname_new~=""

(8,413 real changes made)

In [6]:
rename firmname_new econ_affiliation
rename employer_type_aggregated econ_type
drop organization

In [7]:
replace financetype=lower(financetype)
replace financetype="non-financial" if financetype==""
tab financetype

(12,112 real changes made)

(16,795 real changes made)


           financetype |      Freq.     Percent        Cum.
-----------------------+-----------------------------------
      asset management |        978        3.20        3.20
    commercial banking |        765        2.50        5.71
    financial planning |        133        0.44        6.14
           hedge funds |        551        1.80        7.94
             insurance |        155        0.51        8.45
    investment banking |      1,554        5.09       13.54
         non-financial |     18,121       59.32       72.86
non-financial business |      4,593       15.03       87.89
                 other |         59        0.19       88.08
         other finance |        670        2.19       90.28
        private equity |      1,764        5.77       96.05
           real estate |        225        0.74       96.79
       venture capital |        981        3.21      100.00
-----------------------+-----------------------------------
                 Total |     30,549      100.00

In [8]:
replace financetype="non-financial" if regexm(financetype, "non-financial")==1

(4,593 real changes made)

In [9]:
qui {
    gen top30private=.
replace top30private=1 if unitid== 	110404
replace top30private=1 if unitid== 	123961
replace top30private=1 if unitid== 	130794
replace top30private=1 if unitid== 	131496
replace top30private=1 if unitid== 	139658
replace top30private=1 if unitid== 	144050
replace top30private=1 if unitid== 	147767
replace top30private=1 if unitid== 	152080
replace top30private=1 if unitid== 	162928
replace top30private=1 if unitid== 	164988
replace top30private=1 if unitid== 	165015
replace top30private=1 if unitid== 	166027
replace top30private=1 if unitid== 	166683
replace top30private=1 if unitid== 	167358
replace top30private=1 if unitid== 	168148
replace top30private=1 if unitid== 	179867
replace top30private=1 if unitid== 	182670
replace top30private=1 if unitid== 	186131
replace top30private=1 if unitid== 	190150
replace top30private=1 if unitid== 	190415
replace top30private=1 if unitid== 	193900
replace top30private=1 if unitid== 	195030
replace top30private=1 if unitid== 	198419
replace top30private=1 if unitid== 	201645
replace top30private=1 if unitid== 	211440
replace top30private=1 if unitid== 	215062
replace top30private=1 if unitid== 	217156
replace top30private=1 if unitid== 	221999
replace top30private=1 if unitid== 	227757
replace top30private=1 if unitid== 	243744
    
gen top30public=.
replace top30public=1 if unitid== 	104179
replace top30public=1 if unitid== 	110635
replace top30public=1 if unitid== 	126614
replace top30public=1 if unitid== 	130943
replace top30public=1 if unitid== 	134097
replace top30public=1 if unitid== 	134130
replace top30public=1 if unitid== 	137351
replace top30public=1 if unitid== 	139959
replace top30public=1 if unitid== 	141574
replace top30public=1 if unitid== 	145637
replace top30public=1 if unitid== 	151351
replace top30public=1 if unitid== 	153658
replace top30public=1 if unitid== 	163286
replace top30public=1 if unitid== 	166629
replace top30public=1 if unitid== 	170976
replace top30public=1 if unitid== 	171100
replace top30public=1 if unitid== 	174066
replace top30public=1 if unitid== 	186380
replace top30public=1 if unitid== 	196097
replace top30public=1 if unitid== 	199120
replace top30public=1 if unitid== 	201885
replace top30public=1 if unitid== 	204796
replace top30public=1 if unitid== 	214777
replace top30public=1 if unitid== 	228723
replace top30public=1 if unitid== 	228778
replace top30public=1 if unitid== 	230764
replace top30public=1 if unitid== 	234076
replace top30public=1 if unitid== 	236948
replace top30public=1 if unitid== 	240444
replace top30public=1 if unitid== 	243780
}

In [10]:
label var unitid "IPEDS school unique identifier"
label var year "year of board membership"
label var schoolname "school of board membership"
label var firstname "first name of board member"
label var middlename "middle name or initial board member"
label var firstname "last name of board member"
label var suffix "suffix of board member"
label var gender "gender of board member"
label var alumni "board member is alumnus of board's school"
label var econ_affiliation "primary economic affiliation of board member"
label var econ_typ "type of primary economic affiliation"
label var financetype "detailed type of finance affiliation"
label var top30public "school of board membership is top 30 public indicator"
label var top30private "school of board membership is top 30 private indicator"

In [11]:
keep if top30public==1 | top30private==1

(3,862 observations deleted)

In [12]:
save d2_2_top_30_boards_person_level_1987_2017, replace

file d2_1_top_30_boards_person_level_1987_2017.dta saved

In [13]:
outsheet using d2_2_top_30_boards_person_level_1987_2017.csv, comma replace

(file d2_1_top_30_boards_person_level_1987_2017.csv not found)